.profile_wrapper{
    width: 100%;
    max-width: 1075px;
    height: auto;
    padding: 0 26px;
    display: flex;
    .profile_container{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        margin-left: 6px;
    }
}