.news_wrapper{
    width: 100%;
    max-width: 1075px;
    height: auto;
    padding: 0 26px;
    display: flex;
    .news_container{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-wrap: nowrap;
        margin-left: 6px;
        flex-direction: column;
        gap: 6px;
    }
}