@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sonsie+One&display=swap');
:root {
    --black-color: #101010;
    --regular-grey: #2F3336;
    --grey-color: #202327;
    --white-color: #EFF3F4;
    --disable-white-color: #BABBBC;
    --white-color-hover: #FFFFFF;
    --blue-color: #1c70a8;
    --blue-color-hover: #2386C8;
}

*,
::before,
::after {
    padding: 0 0;
    margin: 0 0;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 4px;
    background-color: var(-regular-grey);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--white-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
body {
    background-color: var(--white-color);
    font-family: 'Roboto';
    background-color: var(--black-color);
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;

    .app_container {
        position: relative;
        width: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        // max-width: 1075px;
    }
}