.add_post{
    width: 100%;
    border: 1px solid var(--grey-color);
    height: fit-content;
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .add_post__form{
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        .avatar{
            height: 40px;
            width: 40px;
        }
        .textarea{
            width: 100%;
            outline: none;
            background: transparent;
            border: none;
            height: auto;
            font-size: 20px;
            color: var(--white-color);
            font-weight: 400;
            line-height: 24px;
            resize: none;
        }
    }
    .post_options{
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        .options_container{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            gap: 22px;
        }
    }
}