.custom_input__wrapper {
    background-color: var(--grey-color);
    display: flex;
    align-items: center;
    gap: 12px;

    .custom_input {
        outline: none;
        border: none;
        width: 100%;
        background: transparent;
        color: var(--white-color);
    }
}
.border_raius{
    border-radius: 26px;
}
.blank{
    background-color: transparent;
    border: none;
    .custom_input{
        font-size: 22px;
    }
}
.medium {
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 300;
}

.large {
    padding: 12px 20px;
    width: 100%;
    font-size: 16px;
}