.active_link {
    width: fit-content;
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 12px;
    border: 1px solid var(--white-color);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.54px;
    transition: .15s all;
    svg{
        fill: var(--disable-white-color);
    }
}

.link {
    width: fit-content;
    text-decoration: none;
    text-decoration: none;
    color: var(--disable-white-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 12px;
    border: 1px solid var(--grey-color);

    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.54px;
    transition: .15s all;
    svg{
        fill: var(--disable-white-color);
    }
}

.active_link:hover,
.link:hover {
    color: var(--white-color);
    background-color: var(--grey-color);
    svg{
        use{
            fill: var(--white-color-hover);
        }
    }
}